# ingore everything
*

# allow directories
!*/

# allow configuration files
!*.json
!*.html
!.curseclient

# allow configuration directories recursively
!/local/**
!/resources/**
!/config/**
!/natives/**

# handle overide mods
!/overrides/mods/*.jar
/overrides/mods/memory_repo/**

# allow gitignore
!.gitignore